.Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    margin-bottom: 2rem;
}

.Card {
    margin-top: 25px;
    width: 12rem;
    border-radius: 5px;
    cursor: pointer;
    height: 153px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: border-color 0.2s ease-out;
    justify-content: space-between;

    /* &:hover {
        // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
    } */
}

.Card__content__title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-primary-text-dark);
}

.Card__content__text {
    font-size: 15px;
    font-weight: 600;
    color: #808080;
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
    .Card {
        width: 12.5rem;
    }
}