.FormButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: #6353dd;
    height: 2.5rem;
    padding: 1rem;
    border: none;
    border-radius: .2rem;
    margin-top: 25px;
    margin-bottom: 25px;
}