.customTextField{
    width: 100%;
}

.inputLabel{
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #808080;
}

.workspaceUrlStyle {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #E6E6FA;
    width: 162px;
}

.workspaceUrlText{
    width: 100%;
    margin: 16px;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    color: #A9A9A9;
    font-size: 17px;
}

